<div class="container main-container">

  <h1>Angular ng2 Charts</h1>
  <hr>

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="/line">Line</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/bar">Bar</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/doughnut">Doughnut</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/pie">Pie</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/radar">Radar</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/polar-area">Polar area</a>
    </li>
  </ul>

  <div class="container body-container">

    <router-outlet></router-outlet>

  </div>
  
</div>